.DS_Store
.vscode
.env.cmake

cmake-build-debug/**
cmake-build-debug-system-arm/**
pico-sdk/**
.idea/**
build/**
dist/**

design/*.gcode
design/*.stl
design/*.lck
design/*.kicad_prl
design/.history
design/jlcpcb/**
design/production/**
design/tmp/**
design/fabrication-toolkit-options.json
design/Rp2040Version/*
design/TechWaveAudio_MidiController-backups/*
design/sym-lib-table

Makefile
pico_flash_region.ld
pico_sdk_import.cmake
cmake_install.cmake
.run/**

